<!-- This is also valid way -->
<app-header />
<main>
  <ul id="users">
    <li>
      <!-- Custom component -->
      <app-user [user]="users[0]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <!-- Custom component -->
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <!-- Custom component -->
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <!-- Custom component -->
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li>
  </ul>
  <!-- Task -->
  <app-tasks [name]="selectedUser.name" />
</main>
