<div>
    <button (click)="onSelectUser()">
        <!-- Now go but not good practice -->
        <!-- <img [src]="'assets/images/users/' + pickedUser.avatar" [alt]="pickedUser.name" /> -->
         <!-- No parenthesies as it is like a property -->
        <img [src]="imagePath"/>
        <!-- <span>{{pickedUser.name}}</span> -->
         <!-- With signal - signal read will be done -->
          <!-- Used as signal so called as a function  -->
        <span>{{user.name}}</span>
    </button>
</div>